mixin video(video)
    div.video
        a(href=`/videos/${video.id}`)
            div.video__thumbnail(style=`background-image:url(${video.thumbUrl});background-size:cover;background-position:center`)
            div.video__column
                div.video__info
                    a(href=`/users/${video.owner._id}`)
                        img(src=video.owner.avatarUrl)
                div.video__info
                    h4 #{video.title}
                    div.video__info--detail
                        a(href=`/users/${video.owner._id}`)
                            span=video.owner.username
                        small ∙ #{video.createdAt.getMonth()}월 #{video.createdAt.getDate()}일 
                        small ∙ #{video.meta.views}회