extends base.pug
include mixins/video

block content
    div.watch
        div.watch-videoPart#videoContainer(data-id=video._id)
            video(src="/" + video.fileUrl).watch--video.normal-screen
            div#videoControls.hidden
                div
                    input(type="range", step="0.001", value=0, min="0")#timeline
                div#videoControls__column
                    div
                        button#play
                            i#playIcon.fas.fa-play
                        div#muteDiv
                            button#mute
                                i#muteIcon.fas.fa-volume-high
                            input(type="range", step="0.1", value=0.5, min="0", max="1")#volume.hidden
                        div#timePart
                            span#currentTime 00:00:00
                            span  / 
                            span#totalTime 00:00:00
                    div 
                        button#fullScreen 
                            i#fullScreenIcon.fas.fa-expand
    div.watch__column
        div.watch-video--info
            span=video.title
            p=video.description
            small #{video.createdAt.getFullYear()}년 #{video.createdAt.getMonth()}월 #{video.createdAt.getDate()}일 ∙ #{video.createdAt.getHours()}시 #{video.createdAt.getMinutes()}분
        div.watch-video__owner
            small  Uploaded by 
                a(href=`/users/${video.owner._id}`)=video.owner.name
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
    if loggedIn
        div.video__comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice comment...")
                button Add Comment
    
    
block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")